@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body,html{
    width: 100%;
    height: 100%;
}
.header{
    /* background-color: red; */
    max-width: 1280px;
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    /* background-color: rgb(215, 243, 250); */
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
}
.logo-icon{
    height: 20px;
}
.nav{
    /* background-color: rgb(200, 244, 161); */
    width: 350px;
    height: 50%;
    display: flex;
    gap: 2px;
}
@media screen and (max-width:768px) {
    .nav{
        display: none;
    }
    
}
.nav-link{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: rgb(116, 115, 115);
    margin: 10px;
    /* background-color: aliceblue; */
}
.contact-btn{
    background-color:  #6366F1;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 5px;
    color: white;
}

 @media  screen and (max-width:768px) {
    .contact-btn{
        display: none;
    }
    
 }

.main{
    max-width: 1280px;
    width: 80%;
    margin:  auto;
    text-align: center;
    /* background-color: antiquewhite; */
}



.content-left{
    margin-top: 20px;
    margin: auto;
    text-align: center;
    animation: slidefromleft 1s ease forwards;
    /* background-color: red; */
}
@keyframes slidefromleft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }    
}

.content-left .p1{
    font-size: 17px;
    font-weight: 700;
    color: #6366F1;

}
.content-left h1{
    font-size: 40px;
    margin-top: 20px;
    font-weight: 700;
}
.content-left .p2{
    margin-top: 20px;
    color:rgb(103, 103, 103);
}
.btn-group{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.btn-group button{
    padding:8px 15px;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 600;
}
#btn-start-now{
    background-color: #6366F1;
}
#btn-take-tour{
    background-color: rgb(62, 62, 62);
}
.content-right{
    margin:20px auto;
    height: 80%;
    width: 80%;
    overflow: hidden;
}
.content-right img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    
}
@media screen and (min-width:768px) {
    
    .main{
        display: flex;
        align-items: center;
        
    }
    .content-left{
        text-align: left;
        width: 50%;
    }
    .content-right{
        width: 40%;
    }
    .btn-group{
        justify-content: left;
    }
}
.company-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.company-grid{
    background-color: rgb(238, 238, 238);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
    border-radius: 4px;
}
.company-name{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  color: rgb(114, 113, 113);
  font-size:15px;
  font-weight: 600;

}
.company-name img{
    height: 1.2rem;
}
@media screen and (min-width:768px) {
    .company-container{
        margin-top: 7rem;
    }
    .company-grid{
        display: flex;
    }
}
.feature-cards{
    background-color:rgb(229, 229, 229);
    margin-top: 4rem;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.card-text{
    margin-top: 1rem;
}
.card-text p{
    font-size: 15px;
    color: rgb(116, 115, 115);
    width: 70%;
    margin: 1rem auto ;
}
.cards{
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 20px;
}
@media screen and (max-width:768px) {
    .cards{
        grid-template-columns: repeat(1,1fr);
    }
    
}
.card-content{
    width:18rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: white;
}
.card-content h3{
    font-size: 15px;
    margin-top: .5rem;
}
.card-content p{
    font-size: 13px;
    
    padding: 15px;
}
#card1{
    background-color:#4a90e2;
}
#card2{
    background-color:#FF6289;
}
#card3{
    background-color:#fcbf58;
}
#card4{
    background-color:#44bfc3;
}
#card5{
    background-color:#77b05d;
}
#card6{
    background-color:#7d78b1;
}
.icon-img{
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card-content img{
    height: 1rem;
    
}
.Testimonial-section{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.testimonial-heading{
    margin-top: 4rem;
}
.testimonials{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red;  */
    width: 100%;
    height: 100%;
}

@media screen and  (max-width:768px) {
    .testimonials{
        flex-direction: column;
    }
    
}
.testimonials img {
    height: 4rem;
    padding-top: 15px;
}
.test{
    border: 1px solid rgb(195, 194, 194);
    margin: 20px;
    width: 250px;
    height: 180px;
    padding: auto;
    border-radius: 8px;
    transition: all .5s ease;
}
.test:hover{
    box-shadow: 8px 5px 5px rgb(158, 157, 157);
g    border: 1px solid #6366F1;
}
.test h4{
    font-size: 15px;
    color: #6366F1 ;
}
.test p{
    font-size: 12px;
    font-weight: 00;
    color: rgb(151, 150, 150);
}

/* newsletter section */

.newsletter-section{
    width: 70%;
    background-color: rgb(233, 233, 233);
    margin: 2rem auto;

}
.newsletter{
    display: flex;
    
}

.news-image img{
    height: 18rem;
    width: 100%;
}

.news-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
    padding-top: 4rem;
}
@media screen and (max-width:768px) {
    .newsletter{
        flex-direction: column;
    }
    .news-content{
        padding-bottom: 2rem;
    }
}
.news-content h1{
    font-size: 30px;
    color:#6366F1 ;
}
.news-content p{
    font-size: 14px;
    font-weight: 500;
    color: grey;
}
.news-content input{
    margin-top: 13px;
    padding: 5px;
}
.news-content input::placeholder{
    color: rgb(176, 176, 176);
}
.news-content button{
    padding: 5px 10px;
    border: none;
    background-color: #6366F1;
    color: white;
}
#conditions {
    padding-top: 10px;
    font-size: 13px;
}
#conditons a {
    color:#6366F1 ;
}

/* Foooter Section */

.footer-content{
    width: 100%;

}
.top{
    width: 70%;
    /* background-color: rgb(227, 150, 150); */
    margin: auto;
    display: flex;
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;
}
/* @media screen and (max-width:768px) {
    .top{
        flex-direction: column;
    }
    
} */
.footer-left{
    background: #44bfc3;
    width: 40%;
    padding: 2rem;
}
.top-logo img{
    height: 20px;
}
.top-logo span{
    font-size: 20px;
    font-weight: 600;
}
.top-text{
    font-size: 12px;
    font-weight: 400;
    padding-top: .5rem;
    color: grey;
}
.top-logos{
    padding-top: 1rem;
}
.top-logos img{
    height: 20px;
    color: rgb(109, 109, 109);
    
}
.top-right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    background-color: #fcbf58;

     
}
.footer-elem{
   
    background-color: red;
    width: 100%;
    height: 100%;
}
.footer-elem h4{
    font-size: 15px;
}
.footer-elem p{
    font-size: 14px;
    color: grey;
    padding-top: 1rem;
}
.bottom{
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-size: 12px;
}





